.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    // background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btnSecond {
    // background-color: #acaf4c;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #458ba0;
  }
  
  .btn:active {
    background-color: #3e6b8e;
  }